<h2>My Users</h2>

<button type="button" *ngIf="!showAddUserForm && !selectedUser && !isUserSelected" (click)="showAddUser(true)">Add new user</button>
<button type="button" *ngIf="showAddUserForm && !selectedUser && !isUserSelected" (click)="showAddUser(false)">-</button>

<div *ngIf="showAddUserForm && !selectedUser && !isUserSelected">
  <form [formGroup]="newUserForm" (ngSubmit)="postUser()">

    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name"><br>
    <div *ngIf="newUserForm.get('name')?.invalid && (newUserForm.get('name')?.dirty || newUserForm.get('name')?.touched)">
      <div *ngIf="newUserForm.get('name')?.errors?.['required']" class="required-error">Name es obligatorio.</div>
    </div>
    
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email"><br>
    <div *ngIf="newUserForm.get('email')?.invalid && (newUserForm.get('email')?.dirty || newUserForm.get('email')?.touched)">
      <div *ngIf="newUserForm.get('email')?.errors?.['required']" class="required-error">Email es requerido.</div>
      <div *ngIf="newUserForm.get('email')?.errors?.['email']" class="required-error">El formato del correo electrónico no es válido.</div>
    </div>
    
    <label for="phone_number">Phone Number:</label>
    <input type="tel" id="phone_number" formControlName="phone_number"><br>
    <div *ngIf="newUserForm.get('phone_number')?.invalid && (newUserForm.get('phone_number')?.dirty || newUserForm.get('phone_number')?.touched)">
      <div *ngIf="newUserForm.get('phone_number')?.errors?.['required']" class="required-error">Phone Number es obligatorio.</div>
    </div>
    
    <label for="gender">Gender:</label>
    <input type="text" id="gender" formControlName="gender"><br>
    <div *ngIf="newUserForm.get('gender')?.invalid && (newUserForm.get('gender')?.dirty || newUserForm.get('gender')?.touched)">
      <div *ngIf="newUserForm.get('gender')?.errors?.['required']" class="required-error">Gender es obligatorio.</div>
    </div>

    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" formControlName="birthday"><br>
    <div *ngIf="newUserForm.get('birthday')?.invalid && (newUserForm.get('birthday')?.dirty || newUserForm.get('birthday')?.touched)">
      <div *ngIf="newUserForm.get('birthday')?.errors?.['required']" class="required-error">Birthday es obligatorio.</div>
    </div>

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password"><br>
    <div *ngIf="newUserForm.get('password')?.invalid && (newUserForm.get('password')?.dirty || newUserForm.get('password')?.touched)">
      <div *ngIf="newUserForm.get('password')?.errors?.['required']" class="required-error">Password es obligatorio.</div>
    </div>
    
    <button type="submit" [disabled]="newUserForm.invalid">Add User</button> 
  </form>
</div>

<ul class="users" *ngIf="!selectedUser">
  <li *ngFor="let user of users| paginate: { itemsPerPage: limit, currentPage: page, totalItems: total }">
    <button type="button" (click)="onSelect(user)">
      <div  class="name">{{user.name}}</div>
    </button>
  </li>
</ul>

<app-user-details *ngIf="selectedUser" [user]="selectedUser" (deselect)="deselectUser()" (userUpdated)="onUserUpdated($event)"></app-user-details> 

<pagination-controls *ngIf="!selectedUser && !isUserSelected" (pageChange)="handlePageChange($event)" nextLabel="Next" previousLabel="Previous"></pagination-controls>

<div class="mt-3" *ngIf="!selectedUser && !isUserSelected">  Items per Page: <select (change)="handleLimitChange($event)"><option *ngFor="let limitUser of limitUsers" [value]="limitUser">{{ limitUser }}</option>
  </select>
</div>