<button *ngIf="!update && !isActivitySelected && !isCommentSelected" (click)="updateEdit(true)">Modo Edición</button>
<button *ngIf="update && !isActivitySelected && !isCommentSelected" (click)="updateEdit(false)">Modo Lectura</button>

<div *ngIf="update && !isActivitySelected && !isCommentSelected">
  <form [formGroup]="editUserForm" (ngSubmit)="updateUser()">

    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name"><br>
    <div *ngIf="editUserForm.get('name')?.invalid && (editUserForm.get('name')?.dirty || editUserForm.get('name')?.touched)">
      <div *ngIf="editUserForm.get('name')?.errors?.['required']" class="required-error">Name es obligatorio.</div>
    </div>
    
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email"><br>
    <div *ngIf="editUserForm.get('email')?.invalid && (editUserForm.get('email')?.dirty || editUserForm.get('email')?.touched)">
      <div *ngIf="editUserForm.get('email')?.errors?.['required']" class="required-error">Email es requerido.</div>
      <div *ngIf="editUserForm.get('email')?.errors?.['email']" class="required-error">El formato del correo electrónico no es válido.</div>
    </div>
    
    <label for="phone_number">Phone Number:</label>
    <input type="tel" id="phone_number" formControlName="phone_number"><br>
    <div *ngIf="editUserForm.get('phone_number')?.invalid && (editUserForm.get('phone_number')?.dirty || editUserForm.get('phone_number')?.touched)">
      <div *ngIf="editUserForm.get('phone_number')?.errors?.['required']" class="required-error">Phone Number es obligatorio.</div>
    </div>
    
    <label for="gender">Gender:</label>
    <input type="text" id="gender" formControlName="gender"><br>
    <div *ngIf="editUserForm.get('gender')?.invalid && (editUserForm.get('gender')?.dirty || editUserForm.get('gender')?.touched)">
      <div *ngIf="editUserForm.get('gender')?.errors?.['required']" class="required-error">Gender es obligatorio.</div>
    </div>

    <label for="birthday">Birthday:</label>
    <input type="text" id="birthday" formControlName="birthday"><br>
    <div *ngIf="editUserForm.get('birthday')?.invalid && (editUserForm.get('birthday')?.dirty || editUserForm.get('birthday')?.touched)">
      <div *ngIf="editUserForm.get('birthday')?.errors?.['required']" class="required-error">Birthday es obligatorio.</div>
    </div>
    
    <button *ngIf="update" type="submit" [disabled]="editUserForm.invalid">Update User Details</button> 

  </form>
</div>

<div *ngIf="user && !isActivitySelected && !isCommentSelected">
  <h2>{{user.name}}</h2>
  <div><span>ID:</span> {{user._id}}</div>
  <div><span>Email:</span> {{user.email}}</div>
  <div><span>Phone Number:</span> {{user.phone_number}}</div>
  <div><span>Gender:</span> {{user.gender}}</div>
  <div><span>Birthday:</span> {{user.birthday}}</div>
  <div><span>My activities:</span> 
    <div *ngIf="user.activities" class="activity">
      <li *ngFor="let activity of activities">
        <div class="custom-button" type="button" (click)="onSelect(activity)">
          <span> {{activity.name}} </span>
        </div>
      </li>
    </div>
  </div> 
  <div><span>List Activities:</span> 
    <div *ngIf="user.listActivities" class="activity">
      <li *ngFor="let activity of activities">
        <div class="custom-button" type="button" (click)="onSelect(activity)">
          <span> {{activity.name}} </span>
        </div>
      </li>
    </div>
  </div> 
  <div><span>Comments:</span> 
    <div *ngIf="user.comments" class="comment">
      <li *ngFor="let comment of comments">
        <div class="custom-button" type="button" (click)="onSelectComment(comment)">
          <span> {{comment.title}} </span>
        </div>
      </li>
    </div>
  </div> 
  
  <button (click)="deselect.emit()">Back to users</button>
</div>

<app-activity-details *ngIf="selectedActivity" [activity]="selectedActivity" (deselect)="deselectActivity()" (activityUpdated)="onActivityUpdated($event)"></app-activity-details> 
<app-comment-details *ngIf="selectedComment" [comment]="selectedComment" (deselect)="deselectComment()" (commentUpdated)="onCommentUpdated($event)"></app-comment-details> 
