.author-details {
    margin-left: 20px;
  }

.user{
  margin-left: 20px;
}

.user ul {
  list-style: none; /* Eliminar el estilo de viñeta de la lista */
  padding: 0; /* Eliminar el relleno predeterminado de la lista */
}

.user li {
  display: flex; 
  align-items: center; 
}

.bullet {
  margin-right: 5px; 
}

.username {
  margin: 0; 
}

.header {
  display: flex;
  align-items: center;
}

.header h2 {
  margin-right: 20px; /* Ajusta el margen entre el título y el botón según sea necesario */
}
